:root {
  --mlu-green: #b1e053;
  --mlu-violet: #993c8c;
  --main-mlu-color: var(--mlu-green);
  --main-accent-color: var(--mlu-violet);
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans 3', sans-serif !important;
}

h1.lia-h1 {
  font-size:5vw !important;
  margin-left:auto !important;
  margin-right:auto !important;
}


#lia-spacer-right {
  background-image: url("https://wcms.itz.uni-halle.de/download.php?down=57357&elem=3333420") !important;
  background-position: center !important;
  background-size: 36px !important;
  background-repeat: no-repeat !important;
}


.lia-content{
  background-image: url("https://wcms.itz.uni-halle.de/download.php?down=57357&elem=3333420") !important;
  background-size: 200px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.lia-toolbar {
  background: var(--main-mlu-color) !important;
}

.lia-btn {
  background: var(--main-mlu-color) !important;
}

.lia-input {
  background: var(--main-mlu-color) !important;
}

.lia-active {
  background: var(--main-mlu-color) !important;
}

.lia-quote {
  background: var(--main-mlu-color) !important;
  border-left-color: var(--main-accent-color) !important;
  color: #FFFFFF !important
}

.lia-accordion {
  background: var(--main-mlu-color) !important;
  font-size: 12px !important;
}

.lia-accordion-dummy {
  background: var(--main-mlu-color) !important;
  font-size: 12px !important;
}

.lia-quiz {
  border-color: var(--main-mlu-color) !important;
}

.lia-link, .lia-active {
  color: var(--main-accent-color) !important
}

.lia-pagination__content {
  background: var(--main-mlu-color);
  color: var(--main-accent-color);
}